---
import Layout from "../layouts/Layout.astro";
import { DownloadApp } from "../components/DownloadApp";
import PricingSection  from "../components/PricingSection";
---

<Layout title="Blink Eye ">
	<section
		class="mx-auto flex flex-col items-center gap-3 sm:gap-5 py-8 md:py-16 md:pb-8 lg:py-24 lg:pb-8"
	>
		<h1
			class="text-center text-3xl font-bold leading-tight tracking-tighter md:text-6xl lg:leading-[1.1] max-w-sm md:max-w-6xl"
		>
			<span class="font-bold text-[#FE4C55]"> Blink Eye </span>
			<br /> A minimalist eye care reminder app for Windows, macOS, and Linux.
		</h1>
		<p
			class="max-w-[900px] mt-2 text-center text-lg text-muted-foreground sm:text-xl"
		>
			To reduce eye strain, featuring reminder with timers, full-screen
			popups. Based on{" "}<span class="text-[#FE4C55]">20-20-20 </span>by
			<a
				href="https://www.aao.org/eye-health/tips-prevention/computer-usage#:~:text=Take%20regular%20breaks%20using%20the,for%20at%20least%2020%20seconds."
				target="_blank"
			>
				{" "}
				American Academy of Ophthalmology
			</a>rule.
		</p>
		<DownloadApp client:idle />
		<PricingSection client:idle/>
	</section>
</Layout>
