---
import Layout from "../layouts/Layout.astro";
import { getReadme } from "../lib/markdown";

const readme = await getReadme();
---

<Layout title="README - Astro + shadcn/ui">
  <div class="prose dark:prose-invert max-w-none">
    <article set:html={readme} />
  </div>
</Layout> 