---
import Layout from "./Layout.astro";

type Props = {
  frontmatter: {
    title: string;
    description: string;
  };
};

const { frontmatter } = Astro.props as Props;

---
<Layout title={frontmatter.title} description={frontmatter.description}>
  <main class="max-w-3xl mx-auto px-4 py-8">
    <article class="prose dark:prose-invert prose-slate max-w-none">
      <slot />
    </article>
  </main>
</Layout> 